<p style="color: green"><%= notice %></p>

<h2>Boards#show</h2>

<%= turbo_stream_from @board.lists_channel %>

<ul id="<%= @board.lists_channel %>" data-controller="sortable" style="display: flex;">
  <%= render partial: 'lists/lists', locals: { lists: @board.lists} %>
</ul>
